
.lista {
    text-decoration: none;
    color: white; 
  }
  .menu-bar{
    background-color: #005E56;
    text-align: center;

  }

  .active:hover{
    background: #29A79B;
    border-radius: 0px;
} 
.dropdown .dropdown-menu{
    display: none;
}
.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu {
    display: block;
    margin-top: 0%;
    margin-left: 20%;
}
@media screen and (min-width:769px){
    .dropend:hover > .dropdown-menu {
        position: absolute;
        top: 0;
        left: 99%;
        margin-left: .125em;
    }
}



.size25{
    font-size: 1.5625rem;
}
.texto-justificado {
    text-align: justify;
  }
/*Versionamiento Consultante*/
.contenedor3{
    position: fixed;
    bottom: 5rem;
    right: 9.375rem;
}

.agregar3 a{
    display: block;
    text-decoration: none;
    background: #005E56;
    color: #fff;
    width: 4.0625rem;
    height: 4.0625rem;
    line-height: 3.4375rem;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0rem 0.0625rem 0.625rem rgba(0,0,0,0.10);
    transition: all 500ms ease;
    border-color: #fff;
    transform-origin: center bottom;
  animation: rebote2 2.0s ease infinite;
}
 @keyframes rebote2 {
        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-1.25rem);
        }
        60% {
          transform: translateY(-0.625rem);
        }
      }
    
    
    .agregar3 a:hover{
        background: #6cd0cb;
        color: #005E56;
    }


/*Versionamiento Admin*/
.contenedor2{
    position: fixed;
    bottom: 5rem;
    right: 7.5rem;
}

.agregar2 a{
    display: block;
    text-decoration: none;
    background: #005E56;
    color: #fff;
    width: 4.0625rem;
    height: 4.0625rem;
    line-height: 3.4375rem;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0rem 0.0625rem 0.625rem rgba(0,0,0,0.4);
    transition: all 500ms ease;
    border-color: #fff;
    display: inline-block;
  transform-origin: center bottom;
  animation: rebote 2.0s ease;

    }
    @keyframes rebote {
        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-1.25rem);
        }
        60% {
          transform: translateY(-0.625rem);
        }
      }
    
    .agregar2 a:hover{
        background: #6cd0cb;
        color: #005E56;
    }

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


#Menu li > a {
font-size: 1.25rem;
font-weight:bold;
color: #3f3f3f;
}


#Foto {
margin-left: 0.9375rem;
width: 1.25rem;
height: 1.25rem;

}


#data {
margin-left: 0.9375rem;
right: 1.25rem;


}

#modificar{
    margin-top: -16%;
}

#linea{
    margin-top: -40%;
}

#subir{
    margin-bottom: 5%;
}

#izquierda{
 margin-left: -87%;
}
#izquierda7{
    margin-left: -83%;
   }

#izquierda2{
    margin-left: -65%;
   }

#izquierda3{
margin-left: -84%;
}

#izquierda4{
margin-left: -58%;
}

#izquierda5{
    margin-left: -45%;
    }
#izquierda6{
        margin-left: -79%;
        }

#izquierda8{
        margin-left: -56%;
        }

#izquierda9{
    margin-left: -84%;
}

#izquierda10{
    margin-left: -61%;
}

#izquierda11{
    margin-left: -54%;
}

#izquierda12{
    margin-left: -73%;
}

#izquierda13{
    margin-left: -85%;
}

#izquierda14{
    margin-left: -58%;
}

#izquierda15{
    margin-left: -63%;
}

#izquierda16{
    margin-left: -71%;
}
 
 
hr {
width: 100%;margin-left: auto;margin-right: auto; margin-top: auto;
}


.container{
    position: fixed;
    bottom: 5rem;
    right: -75rem;
}


.agregar a {
    display: block;
    text-decoration: none;
    background: #005E56;
    color: #fff;
    width: 4.0625rem;
    height: 4.0625rem;
    line-height: 4.0625rem;
    text-align: center;
    font-size: 1.875rem;
    border-radius: 50%;
    border: 1px solid #fff; /* Cambiado a 'border' en lugar de 'border-color' */
    box-shadow: 0rem 0.0625rem 0.625rem rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
  }

.cuenta-input {
    caret-color: transparent;
  }
.agregar a:hover{
    background: #6cd0cb;
    color: #005E56;
    
}
#consul1{
    margin-left: -62%;
}

#consul2{
    margin-left: -60%;
}

#consul3
{
    margin-left: -76%;
}

#consul4
{
    margin-left: -55%;
}

#consul5
{
    margin-left: -93%;
}

#consul6
{
    margin-left: -88%;
}

#consul7
{
    margin-left: -88%;
}

.blink {
    animation: blinker 2.6s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

@media (max-width: 48rem) {
    .container {
        right: -24.375rem; /* Ajustar la posición a la derecha */
        bottom: 1.25rem; /* Ajustar la posición hacia arriba */
    }
    
    .agregar a {
        width: 4.0625rem; 
        height: 4.0625rem; 
        line-height: 4.0625rem;
        font-size: 1.875rem; 
    }

    @media (max-width: 48rem) {
        .contenedor2 {
            right: 5.9375rem; /* Ajustar la posición a la derecha */
            bottom: 1.25rem; /* Ajustar la posición hacia arriba */
        }
        
        .agregar2 a {
            width: 4.0625rem; 
            height: 4.0625rem; 
            line-height: 3.4375rem;
            font-size: 1.25rem; 
       
        }

        
    
    }
    @media (max-width: 48rem) {
        .contenedor3 {
            right: 80%; /* Ajustar la posición a la derecha */
            bottom: 1.25rem; /* Ajustar la posición hacia arriba */
        }
        
        .agregar3 a {
            width: 4.0625rem; 
            height: 4.0625rem; 
            line-height: 3.4375rem;
            font-size: 1.25rem; 
       
        }
    }

}